.main-container {
  display: flex;
  background-color: #e5e4e4;
  margin: 20px auto !important;
  height: 180vh;
  flex-direction: column;
}

.selection-dropdown-top {
  position: relative;
  width: 363px;
  height: 318px;
  left: calc(50% - 363px / 2 + 0.5px);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 75%);
  background: #363636;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 2rem;
  width: 19rem;
  font-weight: bold;
  text-align: center;
}

.sub-category {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 1rem;
  width: 15rem;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.celebrity-category {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 1rem;
  width: 15rem;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/************************************Separated DIV's to create the crack between***************************/
/* cut out and create new file for bottom part */
.selection-dropdown-bottom {
  position: relative;
  width: 363px;
  height: 120vh;
  bottom: 2rem;
  left: calc(50% - 363px / 2 + 0.5px);
  border-radius: 0px 0px 20px 20px;
  clip-path: polygon(100% 100%, 0 100%, 0 0, 48% 0, 100% 8%);
  background-color: #363636;
}
