.svg-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.svg {
  bottom: 10rem;
  position: relative;
  z-index: -1;
}

@media screen and (min-width: 847px) {
  .svg {
    display: none;
  }

  .svg-container {
    display: flex;
    background-color: #363636;
    margin-top: 40px;
    width: 90%;
    height: 35%;
    border-radius: 100px 0px 100px 0px;
    box-shadow: 5px 5px 10px 1px #000000;
    flex-wrap: wrap;
  }
}
