.svg-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    
    
}


.svg {
    /* left: 3%; */
    bottom: 10rem;
    /* top: 9rem; */
    position: relative;
    z-index: -1;
}

