*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    gap: 20px;
}
.AboutContainerPage{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    inset-inline: 23px;
  
}
.side-cotainer{
    margin: 0 40px;
    position: relative;
    
   
}
.card{
    max-width: 330px;
    border-radius: 25px;
    background-color: white;
    gap: 20px;
   
}
.side-content{
    margin: 0 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;

   
}

.img-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.img-content{
    row-gap: 15px;
    position: relative;
    width: auto;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(151, 87, 3);
    border-radius: 0px 25px 0 25px;
}



.crad-imge{
    position: relative;
    height: 150px;
    width: 150px;
    padding: 3px;
}
.crad-imge .crad-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
   
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: rgb(20, 18, 18);
}

.dexription{
    font-size: 14px;
    left: 0;
    top: 0;
    color: silver;
    text-align: center;
   
}





