@media only screen and (max-width: 740px) {
  
 
  
}


.con{
  width: 100vW;
  border-bottom: 0.5px solid black;
}

.sub-header-container {
  display: flex;
  justify-content:space-between;
  height: 5rem;
  margin: auto;
  max-width: 850px;
}
.filter-container {
  order: 1;
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  border: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 5px gray;
  margin: 1rem;
  margin-right: 3.5rem;
  margin-left: 2.2rem;
  color: white;
}
/* .filter-button {
  color: white;
  display: flex;
  align-items: center;
} */
/* .filter-label {
  color: white;
} */
.search-button {
  order: 2;
  background-color: #363636;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 15px;
  width: 45%;
  box-shadow: 1px 1px 5px gray;
  margin: 1rem;
  margin-right: 2.2rem;
  margin-left: 2.5;
}
.search-button:hover {
  background-color: #484848;
  cursor: pointer;
}
.filter-container:hover {
  background-color: #484848;
  cursor: pointer;
}

.filter-label:hover {
  background-color: #484848;
}
.search-label:hover {
  background-color: #484848;
}
.search-label {
  color: white;
}

img {
  scale: 0.6;
  margin-left: -0.5rem;
  margin-bottom: 0.2rem;
}
