* {
    
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.userInfoContainer {
    margin-top: 100px !important;
    margin-bottom: 10px !important;
    background-color: white;
    border-radius: 20px;
    width: 95%;
    min-height: 200px;
    margin-left: 2% !important;
    margin-right: 2% !important;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px gray;
    align-items: center;
}

.profilePicture {
    background-color: rgba(54, 54, 54, 1);
    border-radius: 10px;
    width: 50vw;
    height: 50vw;
    min-width: 150px !important;
    min-height: 150px !important;
    max-width: 250px;
    max-height: 250px;
    margin-top: -75px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profilePicture img{
    
    height: auto;
    width: auto;
    

}

