.dropdown-containerNotif {
  display: flex;
  height: 100%;
  width: auto;
  z-index: 1;
  align-items: center;
}

.dropdownNotif {

  cursor: pointer;
  align-items: center;
  width: auto;
}
.navigationNotif{
  display: flex;
  align-items: center;
  width: auto;
}

.dropdownNotif img {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.clock{
  position: absolute;
  top: -13.1rem;
  left: -9rem;
  scale: 0.05;
  /* position: absolute;
  top: -13rem;
  left: 38rem; */
}

#toggle-dropdownNotif {
  display: none;
}



#toggle-dropdownNotif:checked + .dropdownNotif{
  height: 1rem;
  top: 0.2rem;
}

.dropdown-activeNotif {
  height: auto;
  width: auto;
  background-color: #363636;
  position: absolute;
  top: 6rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: linear 200ms all;
}
.dropdown-activeNotif p {
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.dropdown-not-activeNotif {
  height: 0px;
  width: 0px;
  transition: linear 200ms all;
  position: absolute;
  left: 5rem;
}
.dropdown-not-activeNotif .dd-linkNotif {
  display: none;
}
.dropdown-not-activeNotif .dd-miscNotif {
  display: none;
}

.dd-miscNotif {
  color: white;
  text-decoration: none;
  font-size: 110%;
  margin-left: 1rem;
  margin-right: 1rem;
}
#hrNotif {
  color: aliceblue;
}

.dd-linkNotif {
  color: white;
  text-decoration: none;
  font-size: 110%;
}

.dd-linkNotif:hover {
  font-size: 160%;
}

.dd-linkNotif:active {
  font-size: 160%;
}

@media only screen and (min-width: 1000px) {
  .dropdown-activeNotif {
    height: 50vh;
    width: 20vw;
    background-color: #363636;
    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: linear 200ms all;
    border-bottom-right-radius: 20px;
  }

  

  
}




