.picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 15rem;
  background-color: rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: 13rem;
}

.picture {
  border: 1px solid black;
  width: 12rem;
  height: 10rem;
  border-radius: 20px;
}


