
/* creating the main box around icon and child box */
.picture-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  width: 19rem;
  height: 15rem;
  top: 13rem;
  background-color: rgb(218, 218, 218);
}
/* creating child box where icon is put inside  */
.picture {
  width: 12rem;
  height: 10rem;
  border-radius: 20px;
  /* border: 1px solid black; */
}

@media screen and (min-width: 847px) {
  .picture-container {
    top: 5rem;
    left: 20%;
  }
  .picture {
    width: 63.5%;
  }
}
