.currentPrice {
  color: black;
}
.pub-main-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  margin: 150px auto 20px auto;
  padding-bottom: 10px;
  width: 95%;
  max-width: 1000px;
}
.publicProfilePic img {
  border-radius: 20px;
  max-width: 300px;
  max-height: 300px;
  width: 300px;
  height: 300px;
}

.publicTitle {
  background-color: black;
  color: white;
  width: 100% !;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.publicUserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.publicBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  padding-top: 1rem;
}
.box {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.publicBoxMain {
  box-shadow: 0 0 5px #717171;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.auctionbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auctionbuttons a:link, .auctionbuttons a:visited, .auctionbuttons a:hover, .auctionbuttons a:active {
  background-color: rgba(241, 157, 111, 1);
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 3px #717171;
  text-align: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  color: black;

}

.auctionbuttons  a:nth-last-child(1){
    margin-top: 1rem;

  margin-bottom: 1rem;
}
.auctionbuttons  a:nth-last-child(2){
  margin-top: 1rem;
}
.auctionbuttons  a:nth-last-child(3){
  margin-top: 1rem;
}
.publicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  max-width: 700px;
}

.publicfieldContainer {
  display: flex;
  flex-direction: row;

  width: 100%;
  align-items: start;
  justify-content: flex-end;
}
.publicfieldContainer p {
  text-align: center;
}
.publicfieldContent {
  background-color: #dedede;
  border-radius: 10px;
  margin-left: 0.3rem;
}
.publicfieldContent p {
  height: 14px;
  width: 7rem;
}

.publicfieldContainerAuction {
  display: flex;
  flex-direction: row;
  height: auto;
}

.publicContainerAuction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  height: auto;
  max-width: 700px;
}
.publicAuctionContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  height: auto;
}
.publicAuctionContainer:nth-last-child(1) {
  margin-bottom: 1rem;
}
.auctionbutton a:any-link {
  color: black;
}

.publicProfilePic {
  overflow: hidden;
  margin-top: -10rem;
}
.usersAuctionTitle{
  min-width: 200px;
}
.publicAuction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  box-shadow: 0 0 5px #717171;
  border-radius: 15px;
} 
.auctionTitle {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.auctionBox {
  background-color: #dedede;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.auctionBox p {
  font-weight: 400;
  font-size: 12px;
  margin: auto;
  padding-left: 0.2rem;
}
.auctionBox a:any-link{
  color: black;
}

.auctionbutton {
  background-color: rgba(241, 157, 111, 1);
  border-style: none;
  border-left: 2px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: 5rem;
  z-index: 1;
}
