.loginForm{
    display:grid;
    margin: 30px;
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: #363636;
    max-width: 400px;
    padding: 20px;
    gap: 10px; 
    border-radius: 20px;
    height: 24rem;
    margin-bottom: 130px;
}

.username{
    grid-column: 1/-1;
    grid-row: 1;
    border-radius: 8px; 
    margin: 8px; 
    text-align: center;   
}
.password{
    grid-column: 1/-1;
    grid-row: 2;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
    
}
.button{
    grid-column: 1/-1;
    grid-row: 3;
    background-color: #F19D6F;
    color: black;
    border-radius: 8px;
    font-size: x-large;
    margin: 8px;
}


.fg{
    grid-column: 1/2;
    grid-row: 4;
    color: white;
    font-size: 20px;
}

.ca{
    grid-column: 2/2;
    grid-row: 4;
    color: white;
    font-size: 20px;
}


.LoginContainer{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    
}

@media  (min-width: 458px){
    .loginForm{
       margin-bottom: 500px;
    }
    
}