.random {
  width: 12rem;
  height: 2.5rem;
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.checkbox-container {
  position: relative;
}

.checkbox-container input {
  position: absolute;
  cursor: pointer;
  width: 10rem; 
  height: 2rem;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 25px !important;
  height: 25px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 20% !important;
  border: 1px solid black;
  cursor: pointer;
}

.checkbox-container input:checked + .checkmark {
  background-color: #ffffff;
  border: 1px solid #000000;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked + .checkmark::after {
  display: block;
  content: "\2713";
  font-size: 30px;
  color: black;
  text-align: center;
  line-height: 25px;
}

.text {
  position: relative;
  left: 1rem;
}

@media screen and (min-width: 847px) {
  .random {
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    justify-content: start;
  }
  .checkbox-container {
    width: 2rem;
    height: 2rem;
    position: absolute;
  }
  .random:hover,
  .random:focus {
    width: 10rem;
    max-width: 15rem;
    transition: right, 500ms;
  }

  .checkmark {
    left: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    top: 0.25rem;
  }

  .text {
    display: flex;
    font-size: 12px;
    width: 6rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .checkbox-container input {
    width: 2rem;
    left: -1rem;
  }

  .checkbox-container input:checked + .checkmark::after {
    font-size: 32px;
    line-height: 23px;
  }
}
