* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  
}

body {
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(234, 234, 234, 1) !important;
}
