* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }
  
body {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(234, 234, 234, 1) !important;
}
