.fieldsMainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 2% !important;    
}
.fieldName {
    padding-left: 10px !important;
    align-self:flex-start;
    margin-top: 0.5rem !important;
    margin-bottom: 0px !important;
}
.fieldContent {
    background-color: rgba(229, 228, 228, 1);
    border-radius: 20px;
    padding-left: 10px !important;
    overflow: scroll; 
    display: flex;
    
}
.fieldContent>p {
    margin: 5px;
}

@media screen and (max-width: 395px) {
    .fieldsMainContainer {
        display: flex;
        flex-direction: column;
        
    }
    .fieldContainer {
        width: 100%;
    }
}